
*{
    margin: 0px;
    padding: 0px;
}
::-webkit-scrollbar{
    display: none;
}
nav{
    background-color: dodgerblue;
    margin: 0px;
    padding: 25px;
    position: fixed;
    width: 100%;
}
.nav-links{
    text-align: right;
}
.nav-links ul li{
    display: inline;
    margin-right: 50px;
}
.nav-links ul a{
    text-decoration: none;
    font-size: larger;
    color: whitesmoke
}
.nav-links ul li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-links ul li:hover{
    transition: 2s;
    color: red;
}
.intro{
    margin-top: -33px;
    padding: 0px;
    position: fixed;
    
}
.header{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(assets/header-photo/group-photo.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.text{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: xx-large;
    
}
.secondheader{
    height: 300vh;
    width: 100%;
    background-image: url(assets/header-photo/school.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.foundermessage img{
    align-items: center;
}
.foundermessage h4{
    font-family: cursive;
    font-size: x-large;
    color: rgb(0, 102, 255);
    margin-top: 10px;
}
.foundermessage h3{
    color: darkred;
}
.foundermessage img:hover{
    cursor: pointer;
    zoom: 120%;
    border: 3px solid red;
}
.thirdheader{
    height: 130vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(assets/header-photo/thirdheader.jpg);
    background-size: cover;
    background-position: center;
    font-family: serif;
    font-size: x-large;
    color: white;
    margin: auto;
    text-align: center;
    padding-top: 50px;

}
.column{
    border-radius: 10px;
    margin-bottom: 5%;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.column div p{
    color: red;
}
.column div h3{
    color: rgb(38, 0, 255);
}
.column:hover{
    background: yellowgreen;
}
.footer{
    height: 50vh;
    width: 100%;
    background-color: rgb(49, 2, 2);
    padding-top: 5px;
    position: relative;
   
}

.location h4{
    font-size: x-large;
    color: whitesmoke;
}
.location p{
    color: aqua;
}
.location p a{
    text-decoration: none;
    color: white;
}
.numbers{
    position: absolute;
    left: 70%;
    bottom: 12%;
    color: #fff3f3;

}
.bishalkafle{
    height: 5vh;
    width: 100%;
    background-color: black;
    color: #fff3f3;
    padding-top: 1px;
    font-family: cursive;
}
.bishalkafle a{
    text-decoration: none;
    color: aqua;
}
    



